body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 2500px;
  margin: auto
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{

  --pokemon-normal: #A8A8A8;
  --pokemon-fire: #F08030;
  --pokemon-water: #6890F0;
  --pokemon-grass: #78C850;
  --pokemon-electric: #F8D030;
  --pokemon-ice: #98D8D8;
  --pokemon-fighting: #C03028;
  --pokemon-poison: #A040A0;
  --pokemon-ground: #E0C068;
  --pokemon-flying: #A890F0;
  --pokemon-psychic: #F85888;
  --pokemon-bug: #A8B820;
  --pokemon-rock: #B8A038;
  --pokemon-ghost: #705898;
  --pokemon-dark: #705848;
  --pokemon-dragon: #7038F8;
  --pokemon-steel: #F8F8F8;
  --pokemon-fairy: #F0B6BC;

  --navbar-color: #282928;
  --color-white: #ffffff;
  --color-light-green: #4fb848;
  --color-light-orange: #de8c5d;
  --color-light-blue: #5c5fed;
  --color-light-red: #ed6b6b;
  --color-red: #f22e2e;
  --font-size-small: 0.5rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;
}



